# test
DATASET_ID=nuscenes
DATASET_VERSION=v1.0-mini

RAW_DATA_ROOT=/data/raw
# NUSCENES_ROOT=/data/nuscenes
MANIFEST_ROOT=/data/manifests
ARTIFACT_ROOT=/data/artifacts
RUNS_ROOT=/data/runs

# SCENEOPS_DATABASE_URL=postgresql+asyncpg://sceneops:sceneops@localhost:5432/sceneops
SCENEOPS_DATABASE_URL=postgresql+asyncpg://sceneops:sceneops@postgres:5432/sceneops

######## API
SCENEOPS_API_DATABASE_URL=postgresql+asyncpg://sceneops:sceneops@postgres:5432/sceneops

SCENEOPS_API_ARTIFACT__BACKEND=local
SCENEOPS_API_ARTIFACT__ROOT_URI=/data

SCENEOPS_API_DEFAULT_DATASET__DATASET_ID=nuscenes
SCENEOPS_API_DEFAULT_DATASET__DATASET_VERSION=v1.0-mini

SCENEOPS_API_EXECUTION__BACKEND=celery
SCENEOPS_API_EXECUTION__CELERY__BROKER_URL=redis://redis:6379/0
SCENEOPS_API_EXECUTION__CELERY__RESULT_BACKEND=redis://redis:6379/1
SCENEOPS_API_EXECUTION__CELERY__PIPELINE_QUEUE=sceneops.pipeline_runs
SCENEOPS_API_EXECUTION__CELERY__JOB_QUEUE=sceneops.jobs

# SCENEOPS_API_EXECUTION__BACKEND=airflow
SCENEOPS_API_EXECUTION__AIRFLOW__BASE_URL=http://airflow-webserver:8080
SCENEOPS_API_EXECUTION__AIRFLOW__USERNAME=airflow
SCENEOPS_API_EXECUTION__AIRFLOW__PASSWORD=airflow
SCENEOPS_API_EXECUTION__AIRFLOW__PIPELINE_DAG_ID=sceneops_pipeline_run
SCENEOPS_API_EXECUTION__AIRFLOW__JOB_DAG_ID=sceneops_job_run

SCENEOPS_API_EXECUTION__AIRFLOW__BASE_URL=http://airflow-webserver:8080
SCENEOPS_API_EXECUTION__AIRFLOW__PIPELINE_DAG_ID=sceneops_pipeline_run

######## WORKER
SCENEOPS_WORKER_DATABASE_URL=postgresql+asyncpg://sceneops:sceneops@postgres:5432/sceneops

SCENEOPS_WORKER_ARTIFACT__BACKEND=local
SCENEOPS_WORKER_ARTIFACT__ROOT_URI=/data

SCENEOPS_WORKER_DEFAULT_DATASET__DATASET_ID=nuscenes
SCENEOPS_WORKER_DEFAULT_DATASET__DATASET_VERSION=v1.0-mini

SCENEOPS_WORKER_RUNTIME__WORKER_ID=local-worker

SCENEOPS_WORKER_EXECUTION__BACKEND=celery
SCENEOPS_WORKER_EXECUTION__CELERY__BROKER_URL=redis://redis:6379/0
SCENEOPS_WORKER_EXECUTION__CELERY__RESULT_BACKEND=redis://redis:6379/1
SCENEOPS_WORKER_EXECUTION__CELERY__PIPELINE_QUEUE=sceneops.pipeline_runs
SCENEOPS_WORKER_EXECUTION__CELERY__JOB_QUEUE=sceneops.jobs
